.add-option-error{
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0;
    padding: 0 $m-size;
}

.add-option{
    display: flex;
    padding: $m-size;
    flex-direction: column;
}

.add-option_input {
    flex-grow: 1;
    border: none;
    background: $dark-blue;
    border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10);
    margin: 0 0 $s-size 0;
    color: $off-white;
    padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
    .add-option_input {
        margin: 0 $s-size 0 0;
    }    

    .add-option{
        flex-direction: row;
    }
}