.header {
    background-color: $off-black;
    margin-bottom: $m-size;
    color: #fff;
    padding: $m-size 0;
}

.header--title {
    font-size: $l-size;
    margin: 0
}

.header--subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}